body {
    background-color: #b3e5fc;
    border-radius: 10px;
}
.subscriptions {
    background-color: rgb(180, 178, 178);
}
.card {
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}

.articles {
    font-size: 10px;
    color: #e9ecf1;
}

.number {
    font-weight: 500;
}
